<aside class="col-3 border border-light bg-white p-2">
	<article class="card mb-3">
		<div class="card-header">
			Catégories
		</div>
		<div class="card-body">
			<p>
				<a href="{{ path('app_admin_categories')}}">Liste des catégories</a>
			</p>
			<p>
				<a href="{{ path('app_admin_category_add')}}">Ajouter une catégorie</a>
			</p>
		</div>
	</article>

	<article class="card mb-3">
		<div class="card-header">
			Produits
		</div>
		<div class="card-body">
			<p>
				<a href="{{ path('app_admin_products')}}">Liste des produits</a>
			</p>
			<p>
				<a href="{{ path('app_products_ajout')}}">Ajouter un produit</a>
			</p>
		</div>
	</article>

	<article class="card mb-3">
		<div class="card-header">
			Gérer des rendez-vous
		</div>
		<div class="card-body">
			<p>
				<a href="{{ path('app_admin_reservations')}}">Liste des rendez-vous</a>
			</p>

		</div>
	</article>
	<article class="card mb-3">
		<div class="card-header">
			Utilisateur
		</div>
		<div class="card-body">
			<p>
				<a href="{{ path('app_admin_users')}}">Liste des utilisateurs</a>
			</p>
		</a>
	</p>
</div></article><article class="card mb-3">
<div class="card-header">
	List des commandes
</div>
<div class="card-body">
	<p>
		<a href="{{ path('app_admin_orders')}}">Liste des commandes</a>
	</p>
</a></p></div></article></aside>
