{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block body %}
	<section class="container my-5 d-flex justify-content-center align-items-center vh-80 ">
		<div
			class="row w-100 justify-content-center">
			<!-- Ajuster les colonnes pour occuper 3/4 de la largeur sur les écrans moyens et plus grands -->
			<div class="col-md-8 col-lg-6">
				<div class="card shadow-lg p-4 mb-5">
					<div class="card-body">
						<form method="post">
							{% if error %}
								<div class="alert alert-danger mb-4">
									{{ error.messageKey|trans(error.messageData, 'security') }}
								</div>
							{% endif %}

							{% if app.user %}
								<div class="mb-4">
									Vous êtes connecté en tant que
									{{ app.user.userIdentifier }},
									<a href="{{ path('app_logout') }}" class="btn btn-link">Déconnexion</a>
								</div>
							{% endif %}

							<h1 class="h3 mb-4 text-center">Veuillez vous connecter</h1>
							<div class="mb-4">
								<label for="inputEmail" class="form-label">Email</label>
								<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
							</div>
							<div class="mb-4">
								<label for="inputPassword" class="form-label">Mot de passe</label>
								<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
							</div>

							<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
							<div class="d-flex justify-content-between">
								<button class="btn btn-primary w-100 mt-3 me-2 " type="submit">Me connecter</button>
								<a href="{{ path('app_register') }}" class="btn btn-secondary w-100 mt-3 ms-2 ">M'inscrire</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
