{% extends 'base.html.twig' %}

{% block title %}Menu
{% endblock %}

{% block body %}
	<main class="container" style="height: 1400px">
		<section class="row">
			<div class="col-12">

				<h2>Bienvenue ChezHibou</h2>
			</div>


			{% for product in products %}
				<div class="col-3 mb-4">
					<article class="card" style="height: 500px">
						<div class="card-body">

							<h2 class="card-title" style="height: 100px">{{ product.name}}</h2>
							<img style="height: 200px" src="{{ asset('build/images/' ~ product.image) }}" class="card-img-top" alt="{{ product.name }}">
							<p class="card-body" style="height: 100px">{{ product.description}}</p>
							<a href="{{ path('cart_add',{id:product.id})}}" class="btn btn-primary">Ajouter au panier</a>
						</div>
					</article>
				</div>
			{% endfor %}
		</section>
	</main>


{% endblock %}
