{{ form_start(profileForm) }}
{{ form_row(profileForm.firstname) }}
{{ form_row(profileForm.lastname) }}
{{ form_row(profileForm.email) }}
{{ form_row(profileForm.address) }}
{{ form_row(profileForm.zipcode) }}
{{ form_row(profileForm.city) }}
<button class="btn btn-primary" type="submit">Valider mon changement</button>

{{ form_end(profileForm) }}
