{% extends 'base.html.twig' %}

{% block title %}Mon compte
{% endblock %}

{% block body %}
	<section class="container">
		<h1>Bienvenue sur votre compte</h1>
		<h2>Mon profil</h2>
		<section class="container">
			<table class="table">
				<thead>
					<tr>
						<th>Champ</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Nom</td>
						<td>{{ lastname }}</td>
					</tr>
					<tr>
						<td>Prénom</td>
						<td>{{ firstname }}</td>
					</tr>
					<tr>
						<td>Email</td>
						<td>{{ email }}</td>
					</tr>
					<tr>
						<td>Adress</td>
						<td>{{ address }}</td>
					</tr>
					<tr>
						<td>City</td>
						<td>{{ city }}</td>
					</tr>
				</tbody>
			</table>
			<a class="btn btn-primary" href="{{ path('app_user_profile')}}">Je voudrais mis à jour mes infos
			</a>
		</section>
		<h2>Mes commandes</h2>
		{% include 'user/commande.html.twig' %}
		{% if is_granted('ROLE_ADMIN') %}
			<p>
				<a href="{{ path('app_products_ajout') }}">Gérer les produits</a>
			</p>
		{% endif %}
	</section>
{% endblock %}
